/* .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

form {
    display: flex;
    padding: 6px;
    align-items: center;
    width: 80%;
    border-radius: 42px;
    border: 1px solid #DCE1EF;
    background: #FFF;
}

button {
    border-radius: 80px;
    background: #613BE7;
} */